.rightSide {
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

}

.rightSide .createPassword {
    color: #111;
    text-align: center;
    font-family: "Open Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;

    width: 268px;
    height: 44px;
    top: 120px;
    left: 296px;

}

.subscribeForm {
    width: 400px;
    height: 96px;
    top: 196px;
    left: 230px;
    position: relative;

}

.password {
    color: #000;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 66px;
    height: 19px;
    top: -2px;

}

.passwordPlaceholder {
    width: 400px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(17, 17, 17, 0.10);
    top: 196px;
    left: 230px;
    border-radius: 10px;

}

.pwdStrengh {
    color: #666;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    width: 131px;
    height: 19px;
    top: 292px;
    left: 230px;
}

.conditions {
    color: #999;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cond1 {
    width: 243px;
    height: 19px;
    top: 338px;
    left: 262px;
    position: absolute;
}

.cond2 {
    width: 133px;
    height: 19px;
    top: 378px;
    left: 262px;
    position: absolute;
}

.cond3 {
    width: 205px;
    height: 19px;
    top: 418px;
    left: 262px;
    position: absolute;
}


.previousButton {
    display: flex;
    width: 192px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--Primary-BG, #00BDA9);
    position: absolute;
    top: 463px;
    left: 230px;
    padding: 16px;
    border-radius: 10px;
    border: 2px;

}

.nextButton {
    display: flex;
    width: 192px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Primary-BG, linear-gradient(90deg, #00BDA9 0%, #00C0FC 100%));
    top: 463px;
    left: 438px;

}