.rightSide {
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

}

.rightSide .createAccount {
    color: #111;
    text-align: center;
    font-family: "Open Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;

    width: 246px;
    height: 44px;
    top: 120px;
    left: 307px;


}

.rightSide .useEmailText {
    color: var(--text-666, #666);
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;

    width: 172px;
    height: 19px;
    top: 252px;
    left: 344px;

}

.rightSide .icons {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    width: Hug (272px);
    height: Hug (56px);
    top: 180px;
    left: 294px;
    position: absolute;

}

.rightSide .icons .facebook {
    width: 56px;
height: 56px;

}



.rightSide .subscribeForm {
    width: 400px;
    height: 96px;
    flex-shrink: 0;
    width: 400px;
    height: 96px;
    position: absolute;
    width: 400px;
    height: 96px;
    top: 295px;
    left: 230px;

}

.rightSide .subscribeForm .email {
    color: #000;
    /* Form/Label */
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    width: 96px;
    height: 19px;
    top: -2px;

}

.rightSide .subscribeForm .emailPlaceholder {
    width: 400px;
    height: 51px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid var(--Primary-BG, #00BDA9);

}

.rightSide .agreeText {
    color: var(--text-333, #333);
    width: 366px;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;



}

.rightSide .agreeText .terms {
    width: 363px;
    height: 16px;
    top: 394px;
    left: 262px;
    line-height: normal;
    position: absolute;

}

.rightSide .agreeText .info {
    width: 366px;
    height: 60px;
    top: 434px;
    left: 262px;
    line-height: 20px;
    position: absolute;

}

.rightSide .agreeText Text {
    width: 205px;
    height: 19px;
    top: 593px;
    left: 328px;

    position: absolute;

}


  


.rightSide .agreeText .checkBox1 {
    width: 24px;
    height: 24px;
    top: 391px;
    left: 230px;
    position: absolute;


}

.rightSide .agreeText .checkBox2 {
    width: 24px;
    height: 24px;
    top: 431px;
    left: 230px;
    position: absolute;

}

.nextButton {
    display: flex;
    width: 400px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Primary-BG, linear-gradient(90deg, #00BDA9 0%, #00C0FC 100%));
    color: #FFF;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 510px;
    left: 230px;

}

