.forgotPassword {
    height: 100%;
    flex: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;

}

.forgotPasswordTitle {
    color: #111;
    text-align: center;
    font-family: "Open Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    width: 266px;
    height: 44px;
    top: 120px;
    left: 716px;
}

.forgotPasswordInfo {
    width: 400px;
    height: 57px;
    color: var(--text-666, #666);
    text-align: center;
    position: absolute;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 188px;
    left: 649px;
}

.forgotPasswordForm {
    width: 400px;
    height: 96px;
    flex-shrink: 0;
    position: absolute;
    top: 269px;
    left: 649px;

}

.email {
    width: 96px;
    height: 19px;
    top: -2px;
    color: #000;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

}

.emailPlaceholder {
    width: 400px;
    height: 51px;
    flex-shrink: 0;
    top: 25px;
    border-radius: 10px;

}

.sendEmailButton{
    display: flex;
width: 400px;
padding: 16px;
justify-content: center;
align-items: center;
border-radius: 10px;
background: var(--Primary-BG, linear-gradient(90deg, #00BDA9 0%, #00C0FC 100%));
position: absolute;
top: 373px;
left: 649px;
padding: 16px;

}

.loginText{
    color: #666;
text-align: center;
font-family: "Open Sans";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
position: absolute;
width: 186px;
height: 19px;
top: 456px;
left: 756px;

}