.leftBg {
    width: 411px;
    height: 816px;
    top: 8px;
    left: 861px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 8px;

}

.forgetPwd {
    color: #FFF;
    font-family: "Avenir Next LT Pro";
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    width: 197px;
    height: 128px;
    position: absolute;
    top: 189px;
    left: 106px;

}

.leftBg .detailsText {
    width: 200px;
    height: 63px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Avenir Next LT Pro";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: absolute;
    top: 317px;
    left: 111px;

}

.logoTale {
    display: flex;
    width: 126px;
    height: 37px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: absolute;
    top: 16px;
    left: 435px;

}

